# Ignore the virtual environment folder
venv/
.venv/
env/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore environment variables (sensitive data)
.env

# YOLOv8 training artifacts
runs/
*.cache

# OS
.DS_Store
Thumbs.db